# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# Visual Studio Code
/.vscode/
.vscode/settings.json

# Code Runner - Visual Studio Code Plugin
*tempCodeRunnerFile*

# ntfs-3g / fuse
.fuse*

# Competitive Programming Helper Extensions for VS Code
.cph/

#OpenJudge I/O Data File
*.in
*.out
*.ans